body {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 50px;
}

.suffering-banner {
    background-image: linear-gradient(to bottom, rgba(186, 168, 159, 0.5), rgba(69, 54, 54, 0.818)), url(suffering.jpg);
    background-repeat: no-repeat;
    background-size: 95% 95%, 95% 95%;
    padding: 250px;
    border-radius: 5px;

}

.text-setting {
    text-align: center;
    width: 100%;
    height: 50%;
    font-size: 25px;
}

.set-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 35px;
    color: white;
    font-weight: 500px;
    border-radius: 10px;

}