body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    text-align: center;
    font-size: 25px;
    padding: 0px;
}

.donation-banner {
    background-image: url(donation-pic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 80%, 80% 100%;
    padding: 250px;
    color: white;
    border-radius: 5px;

}

.text-setting {
    text-align: center;
    width: 100%;
    height: 50%;
}

.set-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 35px;
    color: white;
    font-weight: 500px;
    border-radius: 10px;

}

.amount {
    display: flex;
    margin-left: 260px;
}

.donate-amount {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 12px;
}

.donate-amount:hover {
    border: 5px solid tomato;
    color: tomato;
    box-shadow: 10px 10px 20px gray;
}

.other-amount {
    text-align: center;
    margin-bottom: 150px;
}

.input-amount {
    margin-top: 40px;
    margin-bottom: 40px;
}

.other-amount input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 750px;
    font-size: 30px;
    padding-left: 20px;
    text-align: center;

}


.denote-part {
    text-align: center;
    padding: 30px;

}

.set-icon {
    display: flex;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;

}

.first-icon {
    color: gray;
    border: 1px solid skyblue;
    border-radius: 10px;
    height: 300px;
    width: 700px;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 10px;
    background-color: skyblue;
}

.first-icon h1 {
    color: black;
}

.second-icon {
    color: gray;
    border: 1px solid thistle;
    border-radius: 10px;
    height: 300px;
    width: 700px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    margin: 10px;
    background-color: thistle;
}

.second-icon h1 {
    color: black;
}

.third-icon {
    color: gray;
    border: 1px solid peachpuff;
    border-radius: 10px;
    height: 300px;
    width: 700px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    margin: 10px;
    background-color: peachpuff;


}

.third-icon h1 {
    color: black;
}

.about-suffering {
    color: rgb(105, 98, 98);
    font-size: 18px;
    text-align: center;
}

.about-donation {
    width: 100%;
    display: flex;
}

.about-donation img {
    width: 100%;
    height: 100%;
}

.people-howl {
    color: rgb(105, 98, 98);
    font-size: 18px;
    text-align: left;
}

.donation-status {
    width: 50%;
    margin: 50px;
}

.donation-status a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    color: white;
    font-weight: 400px;
    border-radius: 10px;
    margin-left: 0px;
    width: 40%;
}

.background-area {
    width: 75%;
    height: 220px;
    padding: 10px 30px;
    box-sizing: border-box;
    border: 2px solid papayawhip;
    border-radius: 4px;
    background-color: papayawhip;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 180px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.text-area-1 {
    border: 10px solid honeydew;
    padding: 20px;
    width: 350px;
    height: 10px;
    background: honeydew;
    background-clip: padding-box;
    margin-right: 0px;
    font-size: 30px;
    color: grey;
}

.text-area-2 {
    border: 10px solid tomato;
    padding: 20px;
    width: 200px;
    height: 10px;
    background: tomato;
    background-clip: padding-box;
    margin-top: 60px;
    margin-left: -10px;
    font-size: 30px;
    color: white;

}

.added-footer {
    width: 100%;
    height: 180px;
    background-color: black;
    text-align: center;
    margin-top: 20px;
}

.added-footer h2 {
    color: tomato;
    padding: 10px 20px;
}

.added-footer h6 {
    color: white;
    padding: 30px;
}